<!DOCTYPE html>
<html class="no-js">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navbar.html %}
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <section id="about">
      <div class="about-container">
        <h1>A.M. Knight</h1>
        <span>Full Stack Web Developer</span>
        <p>
          <i class="fa fa-desktop"></i>&nbsp;
          <i class="fa fa-exchange"></i>&nbsp;
          <i class="fa fa-cogs"></i>&nbsp;
          <i class="fa fa-exchange"></i>&nbsp;
          <i class="fa fa-database"></i>
        </p>
      </div>
    </section>
    <section id="blog">
      <div class="blog-container">
        {{ content }}
      </div>
    </section>
    <section id="resume">
      <div class="resume-container">

      </div>
    </section>
    <section id="portfolio">
      <div class="portfolio-container">

      </div>
    </section>
    <section id="contact">
      <div class="contact-container">

      </div>
    </section>

    {% include footer.html %}

    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
