<div id="resume-links" class="media col-md-offset-2">
  <a href="https://github.com/ilkelma/cv-resume/raw/master/AndrewMKnightResume.pdf" class="pull-left">
    <i class="fa fa-file-pdf-o fa-3x"></i>
  </a>
  <div class="media-body">
    <div class="row">
      <ul class="list-unstyled col-md-4">
        <li>Download my résumé here!</li>
        <li>Versioned through github.</li>
      </ul>
      <ul class="list-unstyled col-md-4">
        <li>
          <a href="http://careers.stackoverflow.com/amknight">
            <i class="fa fa-stack-overflow text-warning"></i> Stack Careers
          </a>
        </li>
        <li>
          <a href="http://github.com/ilkelma">
            <i class="fa fa-github-square text-muted"></i> GitHub
          </a>
        </li>
        <li>
          <a href="http://www.linkedin.com/in/amknight/">
            <i class="fa fa-linkedin-square text-info"></i> LinkedIn
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
